// Imports, variables and general styles
@import "bootstrap/scss/bootstrap";

$darker-blue:  #0D1321; 
$dark-blue: #1D2D44;
$medium-blue: #2c4255;
$light-blue: #3E5C76;
$gray-blue:#748CAB;
$light-gray-blue: #E9ECF1;
$light: #F0EBD8;
$dark-gray:#726258;

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.5px;
  
  .lato-light {
    font-weight: 300;
  }
    
  .lato-bold {
    font-weight: 700;
  }

  #banner .btn, #articles .btn {
    width: 135px;
  }
  .row {
    margin-right: 0 !important;
  }
}

// Header
#hidden-box {
  height: 96px;
}

#top-bar {
  background-color: $darker-blue;

  a {
    color: $light;
    text-decoration: none;
  }

  :hover {
    color: $gray-blue;
  }

  .active {
    text-decoration: underline;
  }
}

// Nav Menu
#top-nav {
  a {
    color: $darker-blue;
  }
  
  a:hover {
    color: $medium-blue;
    padding-bottom: 2px;
    border-bottom: 1px solid $medium-blue;
  }
}

// Main Content
// Banner
#banner {
  background: url(../img/vinyl.jpg) no-repeat;
  height: 900px;
  
  h1 {
    color: $darker-blue;
  }
  
  a {
    background-color: $medium-blue;
    color: $light;
  }
}

// Boxes
#boxes {
  .card {
    padding: 1.5rem;
  }

  .card:first-child {
    background-color: $dark-blue;
  }

  .card:nth-child(2) {
    background-color: $medium-blue;
  }

  .card:nth-child(3) {
    background-color: $gray-blue;
    color: $dark-blue;
  }

  .card:last-child {
    background-color: $light-blue;
  }

  .card-content {
    a {
      color: $light;
      text-decoration: none;
      text-transform: uppercase;
    }

    a:hover {
      color: $light-gray-blue;
    }
  }
  
  .card-btn {
    a {
      background-color: transparent;
      border-color: $light;
      color: $light;
    }

    a:hover {
      color: $dark-blue;
      font-weight: 700;
      background-color: $light;
    }
  }

  .card-text {
    color:$light;
  }
}

//Articles
#articles {
  a {
    background-color: $medium-blue;
    color: $light;
  }

  article div div:last-child {
    text-align: end;
  }

  img {
    max-width: 400px;
  }
  
  #article-2 {
    background-color: $light-gray-blue;
  }
}

// Footer
#footer {
  background-color: $darker-blue;
  
  #contact, #social-media h4 {
    color: $light;
  }
  
  #footer-links a {
    color: $light;
  }
  
  #footer-links li {
    list-style: none;
    
    a {
      text-decoration: none;
    }
    
    :hover {
      color: $light-blue;
    }
  }
}
  
#social-media li {
  background-color: $light-gray-blue;
  a {
    color: $darker-blue;
  }
  :hover {
    color: $light-blue;
  }
}

#lower-bar {
  background-color: $light;

  div div {
    display: flex;
    align-items: center;  
  }

  p {
    margin: 0;
  }

  a {
    background-color: $medium-blue;
    color: $light;
  }
}


//Responsive//

@media (max-width: 992px) {
  #banner .jumbotron {
    margin-right: 0 !important;
    padding-right: 0 !important;

    #text-banner {
      margin-right: 0 !important;
      padding-right: 0 !important;

      p {
        margin-right: 0 !important;
        padding-right: 0 !important;
      }
    }
  }

  #top-nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
 }
 
  #boxes {
    .card {
      margin-bottom: 0 !important;
    }
  }

  #contact, #footer-links {
    text-align: center;
  }
}

@media (max-width: 768px) {
  header {
    min-width: 768px;
  }

  #articles {
    p {
      font-size: medium;
    }

    article div div:last-child {
      text-align: center;
    }

    img {
      width: 300px;
    }
  }
  #contact, #footer-links {
    margin-top: 1rem;
  }

  #social-media {
    padding-left: 2.5rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 576px) {
  #text-banner {
    p {
      font-size: medium;
    }
  }

  
    #articles { 
      article div {
        display: flex;
        flex-direction: column;
        padding-right: 0 !important;
  
        div {
          padding-right: 0 !important;
        
          p {
            padding-right: 0 !important;
          }
        }
      }
    }
  

  #footer div {
    display: flex;
    flex-direction: column;
  }
}
